* {
    box-sizing: border-box;
    margin: 0;
}
.kopf {
    height: 50px;

    text-align: center;
}
.nav_bar {
    height: 60px;
}

.nav_list{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}
.btn{
    display: none;
    width: 100%;
    border-style: none;
    font-size: 1.2em;
}

.container {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container h2 {
    margin-bottom: 20px;
}